@media screen and (min-device-width: 350px) and (max-device-width: 575px) {
  .timeSincePost {
    color: grey;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
    margin-left: 1.5em;
  }
}
